
/*
body {
    background-image: url(bg.jpg);
    background-size: cover;
}
*/

h2 {
    color: red;
    text-align:center;
    border: 5px dashed rgb(220, 50, 20, .3);
    cursor: crosshair;
}

li {
    list-style: none;
    display: inline-block;
}

p {
    color: green;
    text-decoration: underline;
    text-transform: uppercase;

}

p:hover {
    color: red;
}
/* .something is used for classes*/
.class1 {
    border: 5px solid green;
    color: purple;
}

.class2 {
    border: 5px dashed black;
    color: yellow;
}

.special {
    border: none;
}

.form-group:first-child {
    background-color: blueviolet;
}

.form-group:last-child {
    background-color: black;
}

/*#something is used for IDs*/
#button-group {
    background: rgba(0,0,255, .3);
    /*need both to center items in a div*/
    display: flex;
    align-items: center; /*works without this as well*/
    justify-content: center;
}


h2 p {
    color: rgba(20, 150, 70, .3);
}

h2 > p {
    color: rgba(180, 150, 70, .6);
}

h2 + p {
    text-decoration: none;
    text-transform: none;
    font-style: italic;
    font-weight: 300;
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
    color: rgba(21, 127, 226, 0.932);
}

h1 {
    font-family: 'Coiny', cursive;
}
img {
    float: left;
}

footer {
    clear:both;
    text-align: center;
}